/* CONTACTO */
.contacto{
  padding: 60px 20px;
  background: #f7f3f5;
  text-align: center;
}

.contacto h2{
  font-size: 32px;
  color: #7a5c6e;
  margin-bottom: 40px;
}

.contenedor-contacto{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
  align-items: center;
}

/* FORMULARIO */
.formulario{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario input,
.formulario textarea{
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
}

.formulario textarea{
  min-height: 120px;
  resize: none;
}

.formulario button{
  background: #b48aa0;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.formulario button:hover{
  background: #9c7288;
}

.mapa {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

.mapa iframe {
  width: 100%;
  height: 350px;
  border: 0;
  border-radius: 8px;
}
